<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a href="{{ path("home") }}">
  <img src="/image/logo.png" alt="logo" class="logo">
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
            <a href="{{ path("formation_index") }}" class="nav-link">Liste cours</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if app.user %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropDownLink">
                <img src="{{ app.user.image }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.fullName }}">
                {{ app.user.fullName }}
            </a>
            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="accountDropDownLink">
                <a href="#" class="dropdown-item">Mes cours</a>
                <a href="#" class="dropdown-item">Devenir formateurs</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path("account_logout") }}" class="dropdown-item">Déconnexion</a>
            </div>
        </li>
      {% else %}
        <li class="nav-item">
            <a href="{{ path("account_register") }}" class="nav-link">Inscription</a>
        </li>
        <li class="nav-item">
            <a href="{{ path("account_login") }}" class="nav-link">Connexion</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}